body {
  background: black;
}
.container {
  width: 50%;
  color: white;
  font-family: "Libre Baskerville";
  margin-left: 25%;
  margin-top: 100px;
  text-align: center;
}
.container img {
  border: 5px solid white;
  width: 50%;
}
